$logo-yellow: #ffd700;

$dark-gray: #272727;
$off-white: #e3e3e3;
$off-white-opaque: rgba(227, 227, 227, 0.6);

$background-blue: #2C3181;
$pale-blue: #a4c6f7;
$light-blue: #74a8f3;

$pale-purple: #d69cff;
$light-purple: #ac8ed8;

$pink: #c474f3;
$magenta: #a4c;