$logo-yellow: #ffd700;

$dark-gray: #272727;
$off-white: #f1f1f1;
$off-white-opaque: rgba(227, 227, 227, 0.6);

$background-blue: #2C3181;
$lightest-blue: #a4c6f7;
$pale-blue: #b7c8f9;
$light-blue: #74a8f3;

$pale-purple: #d69cff;
$light-purple: #ac8ed8;
$dark-purple: #651dcf;

$pink: #c474f3;
$magenta: #a4c;

//??? additional colors
// green check mark for updating comments and dreams
$green: #9AC092;

//light gray for option ellipsis
$light-gray: #a3a2a2

