.about-outer-container {
    // padding-top: 50px;
    overflow-y: scroll;
    height: 90%;
    margin-top: 50px;

    .about-container {
        background-color: $off-white;
        opacity: .95;
        border-radius: 4px;
        padding: 20px;
        width: 80vw;
        
        .about-title {
            font-family: $sans-serif;
            font-weight: bolder;
            font-size: 5vw;
            color: $dark-gray;
            letter-spacing: 2px;
            padding-bottom: 15px;
            text-align: center;
        }

        .team-member {
            font-family: $sans-serif;
            text-align: center;
            font-size: 5vw;
            color: $dark-gray;

            a {
                //darkened $logo-yellow for readability
                color: #d6b40b;
                text-decoration: none;
                
            }
        }

        .background-link {
            font-family: $sans-serif;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            color: $dark-gray;
            text-align: center;
            font-size: 5vw;
            padding-top: 10px;
        }
        
    }
    
}

.about-outer-container::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }


@media (min-width: 800px) {
    .about-outer-container{
        
        .about-container {
            width: 93%;

        .about-title {
            font-size: 40px;
        }

        .team-member {
            font-size: 40px;
        }

        .background-link {
            font-size: 40px;
        }
        
    }
    }

}

