.about-container {
    background-color: $off-white;
    opacity: .95;
    border-radius: 4px;
    padding: 20px;
    
    .about-title {
        font-family: $sans-serif;
        font-weight: bolder;
        font-size: 6vw;
        color: $dark-gray;
        letter-spacing: 2px;
        padding-bottom: 30px;
        text-align: center;
    }

    .team-member {
        font-family: $sans-serif;
        text-align: center;
        font-size: 5vw;
        color: $dark-gray;

        a {
            //darkened $logo-yellow for readability
            color: #d6b40b;
            text-decoration: none;
            
        }
    }

    .background-link {
        font-family: $sans-serif;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        color: $dark-gray;
        text-align: center;
        font-size: 5vw;
        padding-top: 10px;
    }
    
}