@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.dream-show-outer-container {
    min-height: 20%;
    width: 90%;
    animation: fade-in .5s ease-in-out;

    .dream-show-dreams-container {

        .dream-show-dreams {
            border-radius: 20px;
            background-color: $pale-blue;
        }

        .dream-show-goals {
            background-color: $logo-yellow;
        }

        .dream-show-dreams,
        .dream-show-goals {
            padding: 10px;
            border: 3px solid $off-white;
            box-shadow: 2px 2px 8px $dark-gray;

            .dream-show-dreams-info {
                color: $dark-gray;
                font-family: $serif;
            }

            .dream-show-goals-info {
                color: $dark-gray;
                font-family: $serif;
            }

            .dream-show-form {
                .dream-show-label {
                    padding: 20px 0px 0px 0px;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .dream-show-input {
                        width: 100%;
                        height: 20px;
                        border: 2px solid $dark-gray;
                        border-radius: 10px;
                        padding: 10px;
                        font-family: $serif;
                        color: $dark-gray;
                        font-size: 15px;
                        background-color: $off-white;
                        resize: none;
                    }

                    .dream-show-input:focus {
                        outline: none;
                        border: 2px solid $magenta;
                    }
                }

                .dream-show-btn-container {
                    padding-top: 10px;
                    display: flex;
                    justify-content: center;
                    
                    .dream-show-btn {
                        color: $dark-gray;
                        font-family: $sans-serif;
                        font-size: 20px;
                        border: 1px solid $dark-gray;
                        border-radius: 5px;
                        padding: 9px 10px 7px;
                        box-shadow: 1px 1px 8px $dark-gray;
                        background-color: $off-white;
                        cursor: pointer;
                    }

                    .dream-show-btn:hover {
                        background-color: $logo-yellow;
                    }
                }
            }
        }
    }
}