.new-dream-btn {
    color: $dark-gray;
    font-family: $sans-serif;
    font-size: 20px;
    border: 1px solid $dark-gray;
    border-radius: 5px;
    padding: 9px 10px 7px;
    box-shadow: 1px 1px 8px $dark-gray;
    background-color: $off-white;
}

.new-dream-btn:hover {
    background-color: $logo-yellow;
}

.new-dream-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: $off-white;

    .new-dream-header {
        font-family: $bold;
        font-size: 30px;
        color: $dark-gray;
        letter-spacing: 2px;
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .new-dream-radio {
        display: flex;

        .new-dream-radio-btn {
            padding: 20px 10px;
            display: flex;
            // align-items: center;

            .new-dream-radio-btn-header {
                font-family: $sans-serif;
                padding: 0 5px;
            }

            .new-dream-radio-btn-header-checked {
                font-family: $sans-serif;
                padding: 0 5px;
                color: $magenta;
            }
        }
    }

    .new-dream-tags-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .new-dream-tags-header {
            font-family: $sans-serif;
            color: $dark-gray;
            font-size: 16px;
            padding-bottom: 15px;
        }
        
        .new-dream-tags {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 20px;
            max-width: 100%;
            
            
            .new-dream-tags-item-container {
                padding: 0 7px 2px;
                position: relative;
                cursor: pointer;
                

                .new-dream-tags-item-circle {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    border: 2px solid $dark-gray;
                    background-color: $off-white;
                }

                .new-dream-tags-item {
                    padding: 4px 7px 2px 12px;
                    border: 1px solid $dark-gray;
                    border-top-left-radius: 9px;
                    border-bottom-left-radius: 9px;
                    font-family: $sans-serif;
                    color: $dark-gray;
                    background-color: white;
                }

            }
            .new-dream-tags-item-container:hover {
                .new-dream-tags-item-circle {
                    background-color: $off-white;
                }

                .new-dream-tags-item {
                    background-color: $magenta;
                    color: $off-white;
                }
            }
        }
    }

    .create-dream-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;

        .create-dream-text-container {
            padding: 20px 0px 20px 0px;
            width: 100%;
            display: flex;
            justify-content: center;

            .create-dream-textarea {
                resize: none;
                width: 80%;
                height: 250px;
                border: 2px solid $dark-gray;
                border-radius: 10px;
                padding: 10px;
                font-family: $serif;
                color: $dark-gray;
                font-size: 15px;
                background-color: white;
            }

            .create-dream-textarea:focus-within {
                outline: none;
                border: 2px solid $magenta;
            }
        }

        .create-dream-search-container {
            display: flex;
            border: 2px solid $dark-gray;
            border-radius: 20px;
            padding: 10px;
            background-color: white;
            width: 90%;
            position: relative;

            .dream-search-icon {
                font-size: 15px;
                padding: 2px 5px 0;
                color: $dark-gray;
            }

            .create-dream-search-form {
                width: 100%;

                .create-dream-search-input {
                    font-family: $sans-serif;
                    font-size: 15px;
                    width: 100%;
                    color: $dark-gray;
                    padding-top: 2px;
                }
            }

            .search-check-btn {
                position: absolute;
                right: 30px;
                color: $dark-gray;

                &:hover {
                    color: $green;
                }
            }
        }

        .create-dream-search-container:focus-within {
            border: 2px solid $magenta;
        }

        .tag-search-results-outer-container {
            position: absolute;
            top: 39px;
            left: 32px;
            background-color: white;
            z-index: 10;
            max-height: 350px;
            overflow-y: scroll;
            width: 80%;
            border-bottom: 2px solid $dark-gray;
            border-right: 2px solid $dark-gray;
            border-left: 2px solid $dark-gray;

            .tag-search-results-inner-container {
                padding: 5px;
                font-family: $sans-serif;
                font-size: 16px;
                color: $dark-gray;
                width: 100%;
                height: 100%;

                .search-icon {
                    padding-right: 5px;
                }

                &:hover {
                    background-color: $magenta;
                    color: $off-white;
                }
            }
        }
    }

    .create-dream-btn {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }
}

@media (min-width: 700px) {
    .new-dream-container {

            .create-dream-container {

                .tag-search-results-outer-container {
                    width: 84%;
                    top: 39px;
                    left: 39px;

            }
        }
    }
}