.feed-container {
    width: 80%;
    height: 80%;
    background-color: transparent;
    padding: 20px;
    box-sizing: border-box;

    .feed-search-container {
        display: flex;
        border: 2px solid $dark-gray;
        border-radius: 20px;
        padding: 10px;
        background-color: $off-white;

        .feed-search-icon {
            font-size: 15px;
            padding: 2px 5px 0;
            color: $dark-gray;
        }

        .feed-search-form {
            width: 100%;

            .feed-search-input {
                font-family: $sans-serif;
                font-size: 15px;
                width: 100%;
                color: $dark-gray;
                padding-top: 2px;
            }
        }
    }

    .feed-search-container:focus-within {
        border: 2px solid $magenta;
    }

    .feed-index-container {
        padding: 15px 0;

        .feed-header-container {
            display: flex;
            justify-content: space-around;
            padding-bottom: 10px;
            border-bottom: 1px solid $off-white-opaque;
            box-shadow: 0px 5px 5px -5px $off-white;

            .feed-header {
                font-family: $sans-serif;
                font-size: 20px;
                color: $off-white;
            }
        }

        .feed-dreams-outer-container {

            .feed-dreams-container {
                padding-top: 20px;

                .feed-dreams {
                    position: relative;
                    padding: 10px;
                    border: 3px solid $off-white;
                    border-radius: 20px;
                    background-color: $dark-purple;
                    box-shadow: 2px 2px 8px $dark-gray;

                    .feed-dreams-circle-big {
                        position: absolute;
                        bottom: -7px;
                        left: -12px;
                        width: 15px;
                        height: 15px;
                        background-color: $dark-purple;
                        border: 3px solid $off-white;
                        border-radius: 50%;
                        z-index: -1;
                    }

                    .feed-dreams-circle-small {
                        position: absolute;
                        bottom: -12px;
                        left: -19px;
                        width: 10px;
                        height: 10px;
                        background-color: $dark-purple;
                        border: 3px solid $off-white;
                        border-radius: 50%;
                        z-index: -2;
                    }

                    
                    .feed-dreams-info {
                        color: $off-white;
                        font-family: $serif;
                    }

                    .feed-dreams-footer {
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                        padding-top: 3px;

                        .feed-dreams-footer-info {
                            color: $off-white;
                            font-family: $serif;
                            font-size: 13px;

                            .feed-dreams-footer-comments,
                            .feed-dreams-footer-likes {
                                cursor: pointer;
                            }

                            .feed-dreams-footer-comments:hover,
                            .feed-dreams-footer-likes:hover {
                                color: $magenta;
                            }
                        }
                    }
                }
    
                .feed-goals {
                    padding: 10px;
                    border: 2px solid $off-white;
                    // border-radius: 20px;
                    background-color: $logo-yellow;
                    box-shadow: 2px 2px 8px white;
                    position: relative;
                    
                    .feed-goals-info {
                        color: $dark-gray;
                        font-family: $serif;
                    }

                    .feed-goals-footer {
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-end;
                        padding-top: 3px;

                        .feed-goals-footer-info {
                            color: $dark-gray;
                            font-family: $serif;
                            font-size: 13px;

                            .feed-goals-footer-comments,
                            .feed-goals-footer-likes {
                                cursor: pointer;
                            }

                            .feed-goals-footer-comments:hover,
                            .feed-goals-footer-likes:hover {
                                color: $magenta;
                            }
                        }
                    }
                }
            }
        }
    }
}