    .app-container {

        .main-app {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -64px;
            height: 100%;
            width: 100%;
            // background-repeat: no-repeat;
            // background-color:$background-blue;
            background: transparent;
    }
}