.app-container {

    .main-app {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -64px;
        height: 100%;
        width: 100%;
        background: transparent;
    }
}

@media (min-width: 700px) {
    .app-container {

        .main-app {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -64px;
            height: 100%;
            width: 700px;
            padding-left: calc(50% - 353px);
            padding-right: 25%;
            background: transparent;
        }  
    }
}