@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $off-white-opaque;
    z-index: 10;
    animation: fade-in .5s ease-in-out;
    
    .modal-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 80%;
        width: 80%;
        // background-color: $off-white;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .close-modal-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            color: $dark-gray;
        }
    }
}


@media (min-width: 800px) {
    .modal-child {
        width: 450px;
    }
}