.app-container {
    background-image: url("background-image-resized5.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #2C3181;

    .nav-bar {
        position: relative;
        width: 100%;
        display: flex; 
        justify-content: space-between;
        height: 64px;
        z-index: 10;

        .logo {
            width: 20px;
            height: 20px;

            .nav-logo {
                position: absolute;
                z-index: 10;
                top: -32px;
                left: -20px;
                height: 130px;
                width: auto;
            }
        }

        .nav-title {
            margin-top: 10px;
            margin-left: 25px;
            font-family: $bold;
            font-size: 25px;
            color: $logo-yellow;
            letter-spacing: 2px;
            text-shadow: 5px 5px 5px $dark-gray;
            padding-bottom: 30px;
            text-decoration: none;
        }

        .session-links {
            position: absolute;
            display: flex;
            justify-content: space-around;
            top: 0;
            right: 0;
            width: 100%;

            a {
                color: $background-blue;
                width: 65px;
                text-align: center;
                text-decoration: none;
                font-family: $sans-serif;
                border: 2px solid $off-white-opaque;
                background-color: $off-white;
                margin: 15px;
                border-radius: 4px;
                padding-top: 2px;

                &:hover {
                    color: $light-purple;
                }
            }
            
        }


        .menu {
            position: relative;
            margin-top: 10px;
            color: $off-white;
            font-size: 40px;
            height: 100%;
            margin-right: 25px;
            
            
        }

        .menu-items {
            position: absolute;
            right: 25px;
            top: 54px;
            z-index: 3;
            background-color: $off-white;
            font-family: $sans-serif;
            padding: 20px 15px;
            border-radius: 4px;
            color: $background-blue;
            opacity: .9;

            a {
                font-family: $sans-serif;
                text-decoration: none;
                color: $background-blue;

                p {
                    padding: 5px;
                    font-size: 20px;
                }

                &:hover {
                    color: $light-purple;
                }
            }


            .logout {
                cursor: pointer;
                padding: 5px;
                font-size: 20px;

                &:hover {
                    color: $magenta;
                }
            }
        }
    }

    .nav-bar-modal {
        z-index: 0;
    }
}

@media (min-width: 1200px) {

    .app-container {
        .nav-bar {
            padding-left: calc(50% - 600px);
            width: 1200px;
        }
    }
}