.app-container {
    
    .nav-bar {
    // width: 100%;
    // display: block;
    display: flex; 
    justify-content: flex-end;
    background-color: yellow;
    
        .fa-bars {
            color: $off-white;
        }
    }
}