@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.profile-container {
    font-family: $sans-serif;
    // display: flex;

    // background-color: $off-white-opaque;
    // padding: 20px;
    width: 100%;
    // height: 1900px;
    // position: relative;
    margin-top: 170px;
    height: 100%;
    // border: 1px solid yellow;
    // overflow: scroll;
    animation: fade-in .2s ease-in-out;

    .username {
        font-weight: bolder;
    }
    
    .edit-profile-form {
        width: 234px;
        // display: flex;


        cursor: default;
        input {
            // text-align: right;
            // justify-self: flex-end;
            // width: 20px;
            width: 70%;
            background-color: $lightest-blue;
            // padding-left: 3px;
        
        }

        .location, .age, .bio {
                input {
                    padding-left: 5px;
                }
            }

            .location {
                input {
                    width: 165px;
                }
            }

            .age {
                input {
                    width: 195px;
                }
            }

            .bio {
                input {
                    width: 200px;
                }                
            }
    }
    
    .profile {
        position: fixed;
        width: 101%;
        height: 200px;
        display: flex;
        margin-top: -20px;
        // margin-left: -20px;
        // position: fixed;
        // top: 200px;
        justify-content: space-between;
        // border: 1px solid blue;
        align-items: center;
        background-color: $off-white;
        // padding: 20px;
        // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        z-index: 5;
        font-size: 14px;
        
        .fa-cloud {
            font-size: 12vw;
            text-align: center;
            justify-self: center;
            margin-top: 6px;
            color: $off-white-opaque;
            // padding-right: 16px;
            // margin: 50%;
            
        }

        .profile-pic {
            width: 15vw;
            height: 15vw;
            padding: 20px;
            border-radius: 55%;
            margin-left: 2vw;
            background: linear-gradient(270deg, #5e47fd, #1e9fc4);
            background-size: 400% 400%;

            // SlowTransition is the identifier variable for @keyframes below
            -webkit-animation: SlowTransition 30s ease infinite;
            -moz-animation: SlowTransition 30s ease infinite;
            animation: SlowTransition 30s ease infinite;
        }
        
        //for Safari, Mail, App Store, and other apps on macOS, iOS, and Linux.
        @-webkit-keyframes SlowTransition {
            //first percentage is where in keyframe of the animation
            //next is the property to animage
            //third is the value of that property
            //if only one percentage, the second is 50%
            //from 0%
            0%{background-position:0%}
            //to 100%
            50%{background-position:100%}
            //back to 0% for smooth transition
            100%{background-position:0%}
        }

        //for Mozilla
        @-moz-keyframes SlowTransition {
            0%{background-position:0%}
            50%{background-position:100%}
            100%{background-position:0%}
        }

        //for every other compatible browser
        @keyframes SlowTransition {
            0%{background-position:0%}
            50%{background-position:100%}
            100%{background-position:0%}
        }

        .user-info {
            width: 255px;
            text-align: left;
            // border: 1px solid $dark-gray;
            // padding-left: 16px;
            // margin-left: 16px;
            margin-right: 2vw;

            .follower-popout-container {
                position: absolute;
                top: 142px;
                right: 30px;
                padding: 5px;
                // padding-right: 30px;
                background-color: $off-white;
                border: 2px solid $dark-gray;
                border-radius: 5px;
                z-index: 2;
                width: 220px;
                max-width: 220px;
                max-height: 500px;
                overflow-y: scroll;

                .likes-popout-inner-container {
                    width: 100%;
                    height: 100%;
                    padding-top: 20px;
                    position: relative;

                    .close-popout-btn {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        cursor: pointer;
                    }

                    .popout-item,
                    .popout-item-none {
                        color: $dark-gray;
                        padding: 5px;
                        font-family: $serif;
                        font-size: 14px;
                        width: 220px;
                        margin-left: -5px;
                        margin-bottom: -10px;
                    }
                    
                    .popout-item:hover {
                        color: $off-white;
                        background-color: $magenta;
                    }
                }
            }
            
            div {
                padding: 4px 4px 4px 0px;
            }
            .profile-edit-button {
                
                padding-bottom: 4px;
                padding-top: 15px;
            }
        }
    }

    .profile-dream-feed {
        margin-top: 107px;
        width: 101%;
        height: calc(100vh - 192px);
        
        // overflow: scroll;
        // display: absolute;
        // overflow-y: scroll;

        // div {
        //     border: 1px solid $dark-gray;
        //     padding: 10px;
        //     margin-bottom: 10px;
        //     height: 150px;
        // }

    }
    

}

@media (min-width: 700px) {
    .profile-container {
        .profile {
            width: 707px;
            padding-left: 50px;
            box-sizing: border-box;
            padding-top: 20px;
            
            
            .fa-cloud {
                font-size: 105px;
                text-align: center;
                justify-self: center;
                margin-top: 6px;
                color: $off-white-opaque;
                // padding-right: 16px;
                // margin: 50%;
                
            }

            .profile-pic {
                width: 170px;
                height: 170px;
                padding-left: 20px;
            }

            .location, .age, .bio {
                input {
                    padding-left: 5px;
                }
            }

            .location {
                input {
                    width: 168px;
                }
            }

            .age {
                input {
                    width: 198px;
                }
            }

            .bio {
                input {
                    width: 203px;
                }                
            }
            .user-info {

                .follower-popout-container {
                    position: absolute;
                    top: 146px;
                    right: 55px;
                    padding: 5px;
                    // padding-right: 30px;
                    background-color: $off-white;
                    border: 2px solid $dark-gray;
                    border-radius: 5px;
                    z-index: 2;
                    width: 220px;
                    max-width: 220px;
                    max-height: 500px;
                    overflow-y: scroll;

                    .likes-popout-inner-container {
                        // padding-top: 20px;
                        position: relative;

                        .close-popout-btn {
                            position: absolute;
                            top: 0px;
                            right: 0px;
                        }

                        .popout-item,
                        .popout-item-none {
                            color: $dark-gray;
                            // padding: 5px;
                            font-family: $serif;
                            font-size: 14px;
                            width: 220px;
                            margin-left: -5px;
                            margin-bottom: -10px;
                        }
                        
                        .popout-item:hover {
                            color: $off-white;
                            background-color: $magenta;
                        }
                    }
                }

                .profile-edit-button {
                    padding-top: 2px;
                }
            }
        }
    }
}