.new-dream-tags-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .new-dream-tags-header {
        font-family: $sans-serif;
        color: $dark-gray;
        font-size: 16px;
        padding-bottom: 15px;
    }
    
    .new-dream-tags {
        display: flex;
        padding-bottom: 5px;
        
        .new-dream-tags-item-container {
            padding: 0 5px;
            position: relative;
            cursor: pointer;

            .new-dream-tags-item-circle {
                position: absolute;
                top: 8px;
                left: 10px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                border: 2px solid $dark-gray;
                background-color: $dark-purple;
            }

            .new-dream-tags-item {
                padding: 4px 5px 2px 14px;
                border: 1px solid $dark-gray;
                border-top-left-radius: 9px;
                border-bottom-left-radius: 9px;
                font-family: $sans-serif;
                color: $dark-gray;
                background-color: $off-white;
            }

        }
        .new-dream-tags-item-container:hover {
            .new-dream-tags-item {
                background-color: $magenta;
                color: $off-white;
            }
        }
    }
}
