.tag-page-outer-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tag-page-tag-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100px;
        border: 2px solid $dark-gray;
        border-top-left-radius: 45%;
        border-bottom-left-radius: 45%;
        width: 350px;
        height: 200px;
        background-color: $off-white;

        // .tag-page-tag {
            .tag-page-circle {
                position: absolute;
                left: 15px;
                height: 30px;
                width: 30px;
                border: 2px solid $dark-gray;
                border-radius: 50%;
                background-color: $background-blue;
            }
            
            .tag-page-name {
                position: absolute;
                left: 55px;
                max-width: 300px;
                font-family: $sans-serif;
                color: $dark-gray;
                font-size: 45px;
            }
        // }
    }
}

.new-dream-tags-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .new-dream-tags-header {
        font-family: $sans-serif;
        color: $dark-gray;
        font-size: 16px;
        padding-bottom: 15px;
    }
    
    .new-dream-tags {
        display: flex;
        padding-bottom: 5px;
        
        .new-dream-tags-item-container {
            padding: 0 5px;
            position: relative;
            cursor: pointer;

            .new-dream-tags-item-circle {
                position: absolute;
                top: 8px;
                left: 10px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                border: 2px solid $dark-gray;
                background-color: $dark-purple;
            }

            .new-dream-tags-item {
                padding: 4px 5px 2px 14px;
                border: 1px solid $dark-gray;
                border-top-left-radius: 9px;
                border-bottom-left-radius: 9px;
                font-family: $sans-serif;
                color: $dark-gray;
                background-color: $off-white;
            }

        }
        .new-dream-tags-item-container:hover {
            .new-dream-tags-item {
                background-color: $magenta;
                color: $off-white;
            }
        }
    }
}
