@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.tag-page-outer-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-in .5s ease-in-out;

    .tag-page-tag-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 13px;
        border: 2px solid $dark-gray;
        border-top-left-radius: 45%;
        border-bottom-left-radius: 45%;
        width: 350px;
        height: 180px;
        background-color: $off-white;

        .tag-page-circle {
            position: absolute;
            left: 15px;
            height: 30px;
            width: 30px;
            border: 2px solid $dark-gray;
            border-radius: 50%;
            background-color: $background-blue;
        }
        
        .tag-page-name {
            position: absolute;
            left: 55px;
            max-width: 300px;
            font-family: $sans-serif;
            color: $dark-gray;
            font-size: 45px;
        }
    }
}